/* reset

CSS Reset – a simpler option
April 23, 2010 by Russ Weakley

A quick presentation on CSS Reset including a basic explanation, an outline of some of the advantages and disadvantages, as well as a simpler reset option.


The Simple CSS reset code

html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p { margin-top: 0; }

fieldset,img { border: 0; }

legend { color: #000; }

li { list-style: none; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td
{
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

input, textarea, select
{
  font-size: 110%;
  line-height: 1.1;
}

abbr, acronym
{
  border-bottom: .1em dotted;
  cursor: help;
}

 styling */

 * {
  /*border:1px solid blue;*/
 }

#header {
  position:fixed;
  background-color: white;
  width: 100%;
  margin-top:-10px;
  padding-top: 5px;
  border: 1px solid gray;

}


.header-left{

  float:left;
  width: 27%;
}

.header-center{

  float:left;
  width: 27%;


}

.header-right {
  float:right;
  width: 27%;
}

#sections_button {
  border:1px solid gray;
  background-color: white;
  margin-left: -48px;
}


button:hover {
    background-color: gray;
}




.blue_button {

  background-color: #6288a5;
  border: 1px solid #4d7b9f;
  color:white;
  border-radius:3px;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

#settings_icon {
  height:15px;
  width:15px;
  border:0;
}

.clear_button {
  border:0;
  background-color: white;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;

}

#favicon {
  height:15px;
  width: 15px;
}

#article-container {


  padding-top: 90px;
  padding-left: 10% ;
  padding-right:11%;

}

.article {

  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
}

.image-text-overlay img {
  /*border: 1px solid gray;*/
  width:100%;
  height: auto;
}


#article img{
    width:100%;
    height: auto;


}


#youtube {
    width:100%;
    height: auto;
    text-align: center;


}

li {
    display:inline-block;
}

ul {
    display: inline-block;
}